<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Chi siamo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="images/pic12.ico" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
				</nav>
				<a th:href="@{/index}" class="logo">Prenota un campo</a>
				<nav class="right">
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>Presentazioni</h1>
						<p>Come è nato questo progetto</p>
					</header>
					<div class="image fit">
						<img src="images/pic06.jpg" alt="" />
					</div>
					<p>
						Siamo due studenti di Ingegneria Informatica, abbiamo in comune la passione per la tecnologia e per lo sport.
					</p>
					<p> Nel poco tempo libero a nostra disposizione ci piace sfidarci sul campo da Padel. </p>
					<p> L'idea di questo portale è nata grazie al progetto proposto dal Professor Paolo Merialdo.</p>
					<p>
						Ci è venuto subito in mente un sistema informativo del genere, perchè ogni volta che dobbiamo giocare ci troviamo ad affrontare sempre il problema di trovare un campo disposibile.
					</p>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Contatti</h2>
					<ul class="actions">
						<li><a href="mailto:dan.santino@stud.uniroma3.it" itemprop="email">dan.santino@stud.uniroma3.it</a></li>
						<li><a href="mailto:fed.gaglio@stud.uniroma3.it" itemprop="email">fed.gaglio@stud.uniroma3.it</a></li>
						<li><span class="icon fa-map-marker"></span> Via Vito Volterra, 62, 00146 Roma RM</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Daniele Santino-Federico Gaglio. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://www.google.it/imghp?hl=it&tab=wi">Google Immagini</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>